$grey: #454646;
$white: #ffffff;
$blue: #00b5d2;
$lato: 'Lato',
sans-serif;
$shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: $lato;
}

body {
	background-color: #ffffff;
}

a {
	text-decoration: none;
	color: inherit;
}

.wrapper {
	width: 95%;
	margin: auto;
}

.main__title {
	color: $white;
	font-size: 3rem;
}


.underline {
	position: relative;
	&::after {
		content: "";
		width: 100%;
		height: 5px;
		background-color: $blue;
		position: absolute;
		left: 0;
		display: none;

	}
}

.button {
	padding: 23px 66px;
	text-transform: uppercase;
	color: $white;
	font-size: 1.25rem;
	background-color: #e1aa6e;
	position: relative;
	display: inline-block;
	&::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: -10px;
		width: 100%;
		height: 10px;
		background-color: #ba8e5b;
	}
	&:hover {
		background-color: #ba8e5b;
	}
}


//welcome section
.welcome {
	background: url('../images/welcome__bg.png') no-repeat 50% 50%;
	background-size: cover;
	width: 100%;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	&__link {
		color: $grey;
		display: flex;
		align-items: center;
		&--img {
			margin-right: 10px;
		}
		&--text {
			font-size: 2rem;
			font-family: $lato;
			color: $grey;
		}
	}
}

.navigation {
	display: flex;
	justify-content: space-between;
	list-style: none;
	margin-right: -20px;
	&__item {
		text-transform: uppercase;
		font-size: 1rem;
		color: $grey;
		font-family: $lato;
		padding: 20px;
	}
	&__link.active {
		text-shadow: $shadow;
		color: $white;
		&.underline::after {
			bottom: -43px;
			display: block;
		}
	}
	&__link:hover {
		color: $white;


	}
}

.hero {
	padding: 180px 0 163px 0;
	&__title {
		text-shadow: $shadow;
	}
	& .underline::after {
		bottom: -26px;
		display: block;
	}
	&__text {
		width: 41%;
		color: $white;
		text-shadow: $shadow;
		font-size: 1.125rem;
		padding: 3rem 0;
		line-height: 1.667;
	}
}

//partners
.partners {
	padding: 25px 0;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	background-color: #fafafa;
	&__list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		list-style: none;
	}
	&__item {
		width: calc(100%/6);
	}
	&__item:not(:last-of-type) {
		margin-right: 45px;
	}
	&__item img {
		width: 100%;
	}
}


//support
.support {
	padding: 100px 0 300px 0;
	background: $blue url('../images/support__bg.png') 50% 103.5% no-repeat;
	text-align: center;
	&__text {
		color: $white;
		font-size: 1.125rem;
		margin-top: 40px;
	}
}

//help

.help{
	padding: 70px 0 100px 0;
	margin: auto;
	max-width: 70%;
	text-align: center;
	&__title{
		font-weight: bold;
		font-size: 1.5rem;
		color: #777777;
	}
	&__text{
		color: #444444;
		font-size: 1.125rem;
		margin: 45px 0 45px;
  line-height: 1.667;
		
	}
}
